### Dia 7 - Apresentando resultados em HTML

In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Guarnieri\Desktop\Hashtag_Python\7_days_of_code\data\Base_consolidada.csv")
cadastro_usuarios_antes_2010 = pd.read_excel('https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/raw/main/Dia_6-Novos_dados_novas_analises/Datasets/matricula_alunos.xlsx',
                                        sheet_name='Até 2010',skiprows=1)
cadastro_usuarios_depois_2010 = pd.read_excel('https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/raw/main/Dia_6-Novos_dados_novas_analises/Datasets/matricula_alunos.xlsx',
                                        sheet_name='Após 2010',skiprows=1)
cadastro_usuarios_antes_2010.columns = ['matricula_ou_siape','tipo_vinculo_usuario','curso']
cadastro_usuarios_depois_2010.columns= ['matricula_ou_siape','tipo_vinculo_usuario','curso']
cadastro_usuarios_json = pd.read_json('https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/raw/main/Dia_6-Novos_dados_novas_analises/Datasets/cadastro_alunos.json')
cadastro_usuarios_posgraduacao_json = pd.read_json(cadastro_usuarios_json.registros[1])
cadastro_usuarios_posgraduacao_json.matricula_ou_siape = cadastro_usuarios_posgraduacao_json.matricula_ou_siape.astype('float')
cadastro_usuarios_posgraduacao_json.matricula_ou_siape = cadastro_usuarios_posgraduacao_json.matricula_ou_siape.astype('string')

C:\Users\Guarnieri\AppData\Local\Temp\ipykernel_21912\1983970798.py:11: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  cadastro_usuarios_posgraduacao_json = pd.read_json(cadastro_usuarios_json.registros[1])

In [2]:
cadastro_usuarios_excel = pd.concat([cadastro_usuarios_antes_2010,cadastro_usuarios_depois_2010],ignore_index=True)
cadastro_usuarios_excel.matricula_ou_siape = cadastro_usuarios_excel.matricula_ou_siape.astype('string')
cadastro_usuarios_cursos = pd.concat([cadastro_usuarios_excel,cadastro_usuarios_posgraduacao_json],ignore_index=True)

In [3]:
cadastro_usuarios_cursos_pos_graduacao = cadastro_usuarios_posgraduacao_json.query("tipo_vinculo_usuario == 'ALUNO DE PÓS-GRADUAÇÃO'")

#### Filtrando > 2017

In [7]:
df['matricula_ou_siape'] =df['matricula_ou_siape'].astype(str)
df['data_emprestimo'] = pd.to_datetime(df['data_emprestimo'])
matricula_data_de_emprestimo_pos_graduacao = df.loc[:,['matricula_ou_siape','data_emprestimo']]
matricula_data_de_emprestimo_pos_graduacao = matricula_data_de_emprestimo_pos_graduacao.query('data_emprestimo > 2017')
matricula_data_de_emprestimo_pos_graduacao = matricula_data_de_emprestimo_pos_graduacao.reset_index(drop=True)

In [8]:
matricula_data_de_emprestimo_pos_graduacao

       matricula_ou_siape         data_emprestimo
0            2014035816.0 2017-01-02 08:01:14.113
1           20161011168.0 2017-01-02 08:29:46.722
2           20161011168.0 2017-01-02 08:29:46.794
3           20161011168.0 2017-01-02 08:46:42.991
4           20161011168.0 2017-01-02 08:46:43.400
...                   ...                     ...
609948          3067431.0 2020-05-05 19:51:06.059
609949          3067431.0 2020-05-05 19:51:06.135
609950          3067431.0 2020-05-05 19:51:06.164
609951      20201014993.0 2020-06-09 11:54:02.669
609952      20201014993.0 2020-06-09 11:54:02.852

[609953 rows x 2 columns]

In [ ]:
emprestimos_pos_graduacao_desde_2017 = matricula_data_de_emprestimo_pos_graduacao.merge(cadastro_usuarios_cursos_pos_graduacao)
emprestimos_pos_graduacao_desde_2017

In [10]:
emprestimos_pos_graduacao_desde_2017.data_emprestimo = emprestimos_pos_graduacao_desde_2017.data_emprestimo.dt.year

In [11]:
emprestimos_pos_graduacao_desde_2017 = emprestimos_pos_graduacao_desde_2017.iloc[:,[1,3]].value_counts().reset_index()
emprestimos_pos_graduacao_desde_2017.columns = ['ANO','CURSO','QUANTIDADE_EMPRESTIMOS']

In [12]:

emprestimos_pos_graduacao_e_curso_pivot = emprestimos_pos_graduacao_desde_2017.pivot_table(
        index = 'CURSO',
        columns = 'ANO',
        values = 'QUANTIDADE_EMPRESTIMOS'
)
emprestimos_pos_graduacao_e_curso_pivot

ANO                                       2017    2018    2019   2020
CURSO
ADMINISTRAÇÃO                           2538.0  2316.0  1692.0  269.0
ARQUITETURA E URBANISMO                 2209.0  1917.0  1818.0  257.0
ARTES CÊNICAS                           2115.0  2082.0  1812.0  229.0
BIOINFORMÁTICA                          2190.0  1914.0  1825.0  263.0
BIOQUÍMICA                              2294.0  1944.0  2057.0  272.0
CIÊNCIA E ENGENHARIA DE MATERIAIS       2316.0  2110.0  2008.0  328.0
CIÊNCIA, TECNOLOGIA E INOVAÇÃO          2415.0  2365.0  2026.0  303.0
CIÊNCIAS DA SAÚDE                       2434.0  1986.0  1825.0  234.0
CIÊNCIAS ODONTOLÓGICAS                  2414.0  2540.0  2134.0  352.0
DESIGN                                  2272.0  1838.0  1841.0  254.0
ENGENHARIA CIVIL                        2399.0  2089.0  1989.0  254.0
ENGENHARIA DE SOFTWARE                  2477.0  2222.0  1887.0  264.0
FILOSOFIA                               2170.0  2048.0  1773.0  302.0
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO  2266.0  1891.0  1771.0  252.0

In [14]:
previsao_2022 = pd.read_table('https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/raw/main/Dia_7-Apresentando_resultados_em_HTML/Dataset/previsao')
previsao_2022 = previsao_2022['curso previsao_2022'].str.split(' ',expand=True)

In [15]:
previsao_2022.index = emprestimos_pos_graduacao_e_curso_pivot.index
emprestimos_pos_graduacao_e_curso_pivot['2022'] = previsao_2022.iloc[:,1]

In [16]:
emprestimos_pos_graduacao_e_curso_pivot['2022'] = emprestimos_pos_graduacao_e_curso_pivot['2022'].astype('int')

In [17]:

emprestimos_pos_graduacao_e_curso_pivot

ANO                                       2017    2018    2019   2020  2022
CURSO
ADMINISTRAÇÃO                           2538.0  2316.0  1692.0  269.0  1905
ARQUITETURA E URBANISMO                 2209.0  1917.0  1818.0  257.0  1896
ARTES CÊNICAS                           2115.0  2082.0  1812.0  229.0  1920
BIOINFORMÁTICA                          2190.0  1914.0  1825.0  263.0  2302
BIOQUÍMICA                              2294.0  1944.0  2057.0  272.0  2090
CIÊNCIA E ENGENHARIA DE MATERIAIS       2316.0  2110.0  2008.0  328.0  2010
CIÊNCIA, TECNOLOGIA E INOVAÇÃO          2415.0  2365.0  2026.0  303.0  1960
CIÊNCIAS DA SAÚDE                       2434.0  1986.0  1825.0  234.0  1730
CIÊNCIAS ODONTOLÓGICAS                  2414.0  2540.0  2134.0  352.0  2405
DESIGN                                  2272.0  1838.0  1841.0  254.0  1900
ENGENHARIA CIVIL                        2399.0  2089.0  1989.0  254.0  1920
ENGENHARIA DE SOFTWARE                  2477.0  2222.0  1887.0  264.0  1890
FILOSOFIA                               2170.0  2048.0  1773.0  302.0  1903
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO  2266.0  1891.0  1771.0  252.0  1855

##### Diferença Percentual

In [18]:
def diferenca_percentual_ano_anterior(x,y):
  return round(((x / y * 100) - 100),2)

In [19]:
percentual_2018 = diferenca_percentual_ano_anterior(emprestimos_pos_graduacao_e_curso_pivot.iloc[:,1],emprestimos_pos_graduacao_e_curso_pivot.iloc[:,0])
percentual_2019 = diferenca_percentual_ano_anterior(emprestimos_pos_graduacao_e_curso_pivot.iloc[:,2],emprestimos_pos_graduacao_e_curso_pivot.iloc[:,1])
percentual_2022 = diferenca_percentual_ano_anterior(emprestimos_pos_graduacao_e_curso_pivot.iloc[:,3],emprestimos_pos_graduacao_e_curso_pivot.iloc[:,2])

In [20]:
percentual = pd.DataFrame({'2018':percentual_2018,
                           '2019':percentual_2019,
                           '2022':percentual_2022})
percentual

                                         2018   2019   2022
CURSO
ADMINISTRAÇÃO                           -8.75 -26.94 -84.10
ARQUITETURA E URBANISMO                -13.22  -5.16 -85.86
ARTES CÊNICAS                           -1.56 -12.97 -87.36
BIOINFORMÁTICA                         -12.60  -4.65 -85.59
BIOQUÍMICA                             -15.26   5.81 -86.78
CIÊNCIA E ENGENHARIA DE MATERIAIS       -8.89  -4.83 -83.67
CIÊNCIA, TECNOLOGIA E INOVAÇÃO          -2.07 -14.33 -85.04
CIÊNCIAS DA SAÚDE                      -18.41  -8.11 -87.18
CIÊNCIAS ODONTOLÓGICAS                   5.22 -15.98 -83.51
DESIGN                                 -19.10   0.16 -86.20
ENGENHARIA CIVIL                       -12.92  -4.79 -87.23
ENGENHARIA DE SOFTWARE                 -10.29 -15.08 -86.01
FILOSOFIA                               -5.62 -13.43 -82.97
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO -16.55  -6.35 -85.77

In [21]:
percentual.reset_index(inplace=True)
percentual.columns = percentual.columns.str.capitalize()
percentual.Curso = percentual.Curso.str.capitalize()

In [24]:

th_props = [
  ('font-size', '1.4rem'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', 'whitesmoke'),
  ('background-color', '#001692'),
  ('border-radius', '0.25rem'),
  ('box-shadow','0 0 1rem gray')
  ]

td_props = [
  ('font-size', '1rem'),
  ('padding','0.5rem'),
  ('text-align', 'left'),
  ('font-weight', 'bold'),
  ('border-bottom','0.1rem solid lightgray')
  ]

styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)
  ]

In [27]:
percentual.style.text_gradient(cmap='RdYlGn',low=1, axis=1,vmax=0.1,vmin=0)\
                              .format('{:.2f} %',subset=['2018','2019','2022'])\
                              .hide(axis='index')\
                              .set_table_styles(styles)\
                              .to_html('teste.html',doctype_html =True,
                                       table_attributes='ALIGN=LEFT WIDTH=50% CELLSPACING = 5')